# Track only the OutlineConverter editor scripts and shaders.
*

!.gitignore

!Assets/
!Assets/OutlineConverter.meta
!Assets/OutlineConverter/
!Assets/OutlineConverter/Editor.meta
!Assets/OutlineConverter/Editor/
!Assets/OutlineConverter/Editor/**
!Assets/OutlineConverter/Shaders.meta
!Assets/OutlineConverter/Shaders/
!Assets/OutlineConverter/Shaders/**
